<h1>Change Password: </h1>
<%= form_for  [@current_user,@asset], :url => {:controller => "assets", :action => "update_password"}, :method => :post do |form| %>
  <div class="field form-group">
    <%= form.label 'New Password:' %>
    <%= form.text_field :password, value: '', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
