<h1>My Credentials</h1>

<table class = "table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Credential Type</th>
      <th>Credential ID</th>
      <th>Password</th>
      <th>Created at</th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.credentiable_type %></td>
        <td><%= credential.credentiable_id %></td>
        <td><%= credential.password %></td>
        <td><%= credential.created_at.localtime%></td>
      </tr>
    <% end %>
  </tbody>
</table>
